<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MigGie Academy</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="font">
        <video src="images/sch0.mov"  autoplay loop muted></video>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="logo"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M176 0c-26.5 0-48 21.5-48 48v80H48c-26.5 0-48 21.5-48 48v32c0 26.5 21.5 48 48 48h80V464c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V256h80c26.5 0 48-21.5 48-48V176c0-26.5-21.5-48-48-48H256V48c0-26.5-21.5-48-48-48H176z"/></svg>
         <i class="logo1">MigGie Academy</i>
         <h2 class="heart"><u>HEART</u> &cross;</h2>
         <h2 class="soul"><u>SOUL</u> &cross;</h2>
         <h2 class="mind"><u>MIND</u> &cross;</h2>
         <nav>
            <a href="register.ejs" class="apply">Register</a>
            <a href="registration.ejs" class="supplies">Supplies</a>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="search"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
            <div class="dropdown">
                <ul>
                  <li><a href="#">Athletics</a></li>
                  <li><a href="#">Attendance</a></li>
                  <li><a href="#">Bus Information</a></li>
                  <li><a href="#">Clinic</a></li>
                  <li><a href="#">Counseling Services</a></li>
                  <li><a href="#">Library</a></li>
                  <li><a href="page.ejs">Registration</a></li>
                  <li><a href="registration.ejs">School Supply List</a></li>

                  <!-- Add more options as needed -->
                </ul>
              </div>
         </nav>
        
    </div> 

    
    
    <div class="center">

        <marquee behavior="" direction="left">
        <!-- <h2 class="cent">MAKING INTERNAL IMPRESSIONS</h2> -->
        <p id="dancing-text">
            At MigGie Academy, we nurture our students’ hearts through a community of love. We fill their souls by integrating Christ-centered faith. We sharpen their minds with wisdom and intellect. And we develop their unique, God-given strengths through a storied tradition of academic, spiritual, artistic and athletic excellence.

            Love the Lord your God with all your heart and with all your soul and with all your mind and with all your strength.

            —Mark 12:30
        </p>
        </div></marquee>

        <div class="sch5">

        <h2 class="cent">MAKING INTERNAL IMPRESSIONS</h2>

        <p class="cent1">
            At MigGie Academy, we nurture our students’ hearts through a community of love. We fill their souls by integrating Christ-centered faith. We sharpen their minds with wisdom and intellect. And we develop their unique, God-given strengths through a storied tradition of academic, spiritual, artistic and athletic excellence.

            Love the Lord your God with all your heart and with all your soul and with all your mind and with all your strength.

            —Mark 12:30
        </p>


    </div>

    <div class="footer">
        <footer>
            
                <h2 class="cent2">MigGie Academy</h2><br>
                 &phone;
                &phone;
                &phone;
                
                
                <p><b><i class="cent3">info@MigGieAcademy.com</i></b></p>
                <address class="cent4">&copy;2023 by MigGieAcademy</address>
            
        </footer>
    </div>


</body>
</html> 