<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Supply Lists</title>
    <link rel="stylesheet" href="supplies.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>

    <div class="font">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="log"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M176 0c-26.5 0-48 21.5-48 48v80H48c-26.5 0-48 21.5-48 48v32c0 26.5 21.5 48 48 48h80V464c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V256h80c26.5 0 48-21.5 48-48V176c0-26.5-21.5-48-48-48H256V48c0-26.5-21.5-48-48-48H176z"/></svg>
             <i class="log1">MigGie Academy</i>
             <a href="index.ejs" class="apply">Home</a>
             <a href="register.ejs" class="supplies">Contact</a>
            </div>

            <div class="table">
                <h2><u>6th Grade School Supply List</u></h2>

                <table border="2">
                    <tr><td colspan="2"><b><i>SHARED SUPPLIES</i></b></td></tr>
                    <tr>
                        <th><b>Quantity</b></th> <th><b>Items to Purchase</b></th>
                    </tr>

                    <tr>
                        <td>2</td> <td>24 package of pencils</td>
                    </tr>

                    <tr>
                        <td>1</td> <td>4 pack of Expo markers</td>
                    </tr>

                    <tr>
                        <td>2</td> <td>Boxes of tissues</td>
                    </tr>

                    <tr>
                        <td>1 bottle</td> <td>Hand sanitizer</td>
                    </tr>

                    <tr>
                        <td>1 can</td> <td>Clorox wipes</td>
                    </tr>

                    <tr>
                        <td>2 pkgs</td> <td> Notebook paper(college or wide ruled)</td>
                    </tr>

                    <tr>
                        <td>2</td> <td>Rolls of paper towels</td>
                    </tr>

                </table>

                
                <table border="2">
                    <tr><td colspan="2"><b><i>INDIVIDUAL SUPPLIES</i></b></td></tr>
                    <tr>
                        <th><b>Quantity</b></th> <th><b>Items to Purchase</b></th>
                    </tr>

                    <tr>
                        <td>4</td> <td>Plastic folders with pockets and brads</td>
                    </tr>

                    <tr>
                        <td>1pkg</td> <td> Pencils</td>
                    </tr>

                    <tr>
                        <td>1pkg</td> <td>Colored pencils</td>
                    </tr>

                    <tr>
                        <td>1</td> <td>Composition notebook</td>
                    </tr>

                    <tr>
                        <td>1set</td> <td>Earbuds</td>
                    </tr>

                    <tr>
                        <td>1</td> <td>Pencil Pouch</td>
                    </tr>


                </table>

            </div>

    
</body>
</html>