<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="font">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="log"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M176 0c-26.5 0-48 21.5-48 48v80H48c-26.5 0-48 21.5-48 48v32c0 26.5 21.5 48 48 48h80V464c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V256h80c26.5 0 48-21.5 48-48V176c0-26.5-21.5-48-48-48H256V48c0-26.5-21.5-48-48-48H176z"/></svg>
         <i class="log1">MigGie Academy</i>
         <a href="index.ejs" class="apply">Home</a>
         <a href="registration.ejs" class="supplies">Supplies</a>
        </div>

    <div class="one">
        <marquee direction="left" class="one1"><h1>WELCOME TO THE REGISTRATION PORTAL</h1></marquee>
        
    </div>

    <div class="two">
        <div class="two1">
            <h2 class="one2">ONLINE REGISTRATION</h2>
            <P class="onee">Enrolling your child in MigGie Academy for the first time? <br>Visit the district's <a href="page.ejs">New-student Registration page</a> or stop by <br>the school to complete the registration process. Please see all <br>of the items listed below that are required to complete your <br> child's registration.</P>
        </div>

        <div class="two2">
            <h2 class="one3">REGISTRAR</h2>
            <p class="onee">Miracle Igwe</p><br>
            <p class="one4">469-874-0069</p>
        </div>

        <div class="two3">
            <h2 class="one2a">WHAT TO BRING</h2>
            <p class="onee1">Please bring the registration forms and copies of the following <br> documents to the campus:</p><br>
            <p class="onee1">
                <ul class="onee2">
                    <li class="one5">a copy of the student's birth certificate (Note: Parents can go <br> directly to FMH.org to order a certified birth certificate for $22,<br> the same price as a walk-in or mail order. This online service, <br> offered in English and Spanish, provides parents with a straight- <br>forward, secure option for ordering their child’s birth certificate. <br>The orders are fulfilled by the Federal Ministry of Health .)</li><br>
                    <li class="one5">proof of residency (lease/contract, current utility bill)</li><br>
                    <li class="one5">immunization record or affidavit of conscience exemption | <br>Immunization Requirements</li><br>
                    <li class="one5">most recent report card and standardized test results</li><br>
                    <li class="one5">withdrawal papers from your child's previous school</li><br>
                    <li class="one5">a photo identification of parent/guardian</li><br>
                    <li class="one5">legal paperwork (divorce decrees, etc.)</li><br>
                </ul><br>
                <br><p class="onee2">If you have any questions, please contact the campus registrar for assistance.</p>
            </p>
        </div>

        <div class="two4">
            <h2 class="one7">HELPFUL LINKS</h2>
                <p class="one8"><a href="page.ejs">New-student Registration</a></p>
                <p class="one8">Immunization Requirements</p>
                <p class="one8">Middle School Course Catalog</p>
                <p class="one8">Registrar's Website </p>
            
        </div>
    </div>
    

    <div class="font1">
        <video src="images/sch0.mov"  autoplay loop muted></video>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="logo"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M176 0c-26.5 0-48 21.5-48 48v80H48c-26.5 0-48 21.5-48 48v32c0 26.5 21.5 48 48 48h80V464c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V256h80c26.5 0 48-21.5 48-48V176c0-26.5-21.5-48-48-48H256V48c0-26.5-21.5-48-48-48H176z"/></svg>
         <i class="logo1">MigGie Academy</i>
         <p class="nav">Plot 434 Jamaica Street,</p><br> 
         <p class="nav2">Efab Queens Estate,</p><br>
         <p class="nav3">Gwarimpa,Abuja, FCT.</p>
         <p class="nav1">Phone &phone;: 469-874-0069</p><br>
         <p class="nav4">Email: MigGieAcad@aol.com</p>
         <p class="nav5">&copy;MigGieAcademy2024</p>

         </div>


    <!-- <form method="post">
        <input type="text" name="username"  placeholder="enter your username"><br>
        <input type="text" name="email"  placeholder="enter your email"><br>
        <input type="text" name="phone"  placeholder= "enter your number"><br>


        <button>Register</button>

    </form>
     -->
</body>
</html>