<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
     
    <div class="font">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="log"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M176 0c-26.5 0-48 21.5-48 48v80H48c-26.5 0-48 21.5-48 48v32c0 26.5 21.5 48 48 48h80V464c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V256h80c26.5 0 48-21.5 48-48V176c0-26.5-21.5-48-48-48H256V48c0-26.5-21.5-48-48-48H176z"/></svg>
             <i class="log1">MigGie Academy</i>
             <a href="index.ejs" class="apply">Home</a>
             <a href="register.ejs" class="supplies">Register</a>
            </div>
    
        <!-- <div class="one">
            <marquee direction="left" class="one1"><h1>WELCOME TO THE REGISTRATION PORTAL</h1></marquee>
            
        </div> -->

        <div class="reg">
            <div class="reg1">
                <h1 class="signin">Reset Password</h1>

                <form method="post">
                <label>Email Address <br><input type="text" name="email" id="input" required autocomplete="off"></label><br> <br>
                <label>Username <br><input type="text" name="username" id="input" required autocomplete="off"></label><br> <br>
                <label>New Password <br><input type="password" name="password" id="input" required></label><br> <br>
                <label>Confirm Password <br><input type="password" name="cpassword" id="input" required></label><br> <br>
                <label><input type="checkbox" name="" id=""> Remember me on this computer</label><br>
                
                 <a href="registration.ejs"><button class="in" >Submit</button></a><br>

                

    </form>

            </div>

