<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Supply List</title>
    <link rel="stylesheet" href="supplies.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    
    <div class="font">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="log"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M176 0c-26.5 0-48 21.5-48 48v80H48c-26.5 0-48 21.5-48 48v32c0 26.5 21.5 48 48 48h80V464c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V256h80c26.5 0 48-21.5 48-48V176c0-26.5-21.5-48-48-48H256V48c0-26.5-21.5-48-48-48H176z"/></svg>
             <i class="log1">MigGie Academy</i>
             <a href="index.ejs" class="apply">Home</a>
             <a href="register.ejs" class="supplies">Register</a>
            </div>
    
        <div class="one">
            <marquee direction="right" class="one1" id="dancing-text"><h1>SCHOOL SUPPLY LISTS</h1></marquee>
            
        </div>

        <div class="buttons">
                
                <a href="lists1.ejs"><button type="submit" class="btn" title="6th Grade School Supply List">6th Grade Scho...</button></a>
                <a href="lists.ejs"><button type="submit" class="btn" title="7th Grade School Supply List">7th Grade Scho...</button></a>
                <a href="lists2.ejs"><button type="submit" class="btn" title="8th Grade School Supply List">8th Grade Scho...</button></a>
        </div>


        <div class="font1">
            <video src="images/sch0.mov"  autoplay loop muted></video>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="logo"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M176 0c-26.5 0-48 21.5-48 48v80H48c-26.5 0-48 21.5-48 48v32c0 26.5 21.5 48 48 48h80V464c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V256h80c26.5 0 48-21.5 48-48V176c0-26.5-21.5-48-48-48H256V48c0-26.5-21.5-48-48-48H176z"/></svg>
             <i class="logo1">MigGie Academy</i>
             <p class="nav">Plot 434 Jamaica Street,</p><br> 
             <p class="nav2">Efab Queens Estate,</p><br>
             <p class="nav3">Gwarimpa,Abuja, FCT.</p>
             <p class="nav1">Phone &phone;: 469-874-0069</p><br>
             <p class="nav4">Email: MigGieAcad@aol.com</p>
             <p class="nav5">&copy;MigGieAcademy2024</p>
    
             </div>
    
    
    
</body>
</html>